<div class="chrome-demo crystalgram-demo">
    <div class="chrome-demo-iphone">
    <div class="chrome-demo-state-container">
        <div class="demo-state crystalgram-state-init demo-state-active">
            <img src="/static/01-ensography/crystalgram/ui/static-home.png" width="320" height="1495"
                 style="margin-top: 64px; position:absolute;">
            <img src="/static/01-ensography/crystalgram/ui/minibar-start.png" width="320" height="64"
                 style="position:absolute; box-shadow: 0 1px 2px rgba(0,0,0,0.25)">
            <img src="/static/01-ensography/crystalgram/ui/toolbar.png" width="320" height="45"
                 style="position:absolute; margin-top:523px">
            <div class="chrome-button crystalgram-button-camera" 
                 style="width:64px; height:45px; margin-left: 128px; margin-top: 523px"></div>
        </div>
        <div class="demo-state crystalgram-state-camera">
            <div class="crystalgram-camera-wrap"></div>
            <img src="/static/01-ensography/crystalgram/photos/05-alexnashzemlyak.jpg" width="320" height="320"
                 style="position:absolute; margin-top: 52px;"
                 class="crystalgram-camera-photo">
            <img src="/static/01-ensography/crystalgram/photos/05-alexnashzemlyak.jpg" width="320" height="320"
                 style="position:absolute; margin-top: 52px;"
                 class="crystalgram-camera-photo">
            <img src="/static/01-ensography/crystalgram/ui/camera.png" width="320" height="568"
                 style="position:absolute;">
            <div class="crystalgram-camera-library">
                <img src="/static/01-ensography/crystalgram/photos/01-greyevil.jpg">
                <img src="/static/01-ensography/crystalgram/photos/02-greyevil.jpg">
                <img src="/static/01-ensography/crystalgram/photos/03-alexnashzemlyak.jpg">
                <img src="/static/01-ensography/crystalgram/photos/04-alexnashzemlyak.jpg">
                <img src="/static/01-ensography/crystalgram/photos/05-alexnashzemlyak.jpg">
                <img src="/static/01-ensography/crystalgram/photos/06-alexnashzemlyak.jpg">
                <img src="/static/01-ensography/crystalgram/photos/07-alexnashzemlyak.jpg">
                <img src="/static/01-ensography/crystalgram/photos/08-alexnashzemlyak.jpg">
            </div>
            <div class="chrome-button crystalgram-button-back" 
                 style="width:64px; height:52px;"></div>
            <div class="chrome-button crystalgram-button-next" 
                 style="width:77px; height:77px; margin-left:121px; margin-top:457px"></div>
            <div class="chrome-button crystalgram-button-library" 
                 style="width:50px; height:50px; margin-left:39px; margin-top:470px"></div>
        </div>
        <div class="demo-state crystalgram-state-filters">
            <img src="/static/01-ensography/crystalgram/ui/filters.png" width="320" height="568"
                 style="position:absolute;">
            <div class="chrome-button crystalgram-button-back" style="width:64px; height:52px;"></div>
            <div class="chrome-button crystalgram-button-next" 
                 style="width:83px; height:52px; margin-left:237px;"></div>
            <img src="/static/01-ensography/crystalgram/photos/05-alexnashzemlyak.jpg" width="320" height="320"
                 style="position:absolute; margin-top: 52px;"
                 class="crystalgram-filters-photo">
            <div class="crystalgram-filters-crystal crystalgram-filters-crystal0"></div>
            <div class="crystalgram-filters-crystal crystalgram-filters-crystal1"></div>
        </div>
        <div class="demo-state crystalgram-state-share">
            <img src="/static/01-ensography/crystalgram/ui/share.png" width="320" height="568"
                 style="position:absolute;">
            <img src="/static/01-ensography/crystalgram/photos/05-alexnashzemlyak.jpg" width="64" height="64"
                 style="position:absolute; margin-top: 60px; margin-left: 8px"
                 class="crystalgram-share-photo">
            <div class="chrome-button crystalgram-button-back" style="width:64px; height:52px;"></div>
            <div class="chrome-button crystalgram-button-next" 
                 style="width:320px; height:52px; margin-top:516px;"></div>
        </div>
        <div class="demo-state crystalgram-state-result">
            <div class="crystalgram-result-contents" style="margin-top: 64px; position:absolute;">
                <img src="/static/01-ensography/crystalgram/ui/static-home.png" width="320" height="1495">
            </div>
            <img src="/static/01-ensography/crystalgram/ui/minibar-start.png" width="320" height="64"
                 style="position:absolute; box-shadow: 0 1px 2px rgba(0,0,0,0.25)">
            <img src="/static/01-ensography/crystalgram/ui/toolbar.png" width="320" height="45"
                 style="position:absolute; margin-top:523px">
            <div class="chrome-button crystalgram-button-camera" 
                 style="width:64px; height:45px; margin-left: 128px; margin-top: 523px"></div>
        </div>
    </div>
    </div>
    <div class="chrome-demo-info chrome-text-typeface"> 
        <div class="chrome-demo-text chrome-demo-text-1">
            <p>
                This is interactive demonstration of <strong>Crystalgram</strong> app.
            </p>
            <p>
                Interface of Crystalgram is simple and obvious, quite familiar for Instagram users. 
            </p>
        </div>
        <div class="icon icon--next clearfix">
            <div class="icon-img"></div>
            <div class="icon-text-sticky chrome-label-typeface chrome-demo-control">
                Hit <strong>Camera</strong> button to start demo.
            </div>
        </div>
        <div class="chrome-demo-text chrome-demo-text-2"></div>
    </div>
</div>