<div class="photo-block photo-instagram">
    <div class="photo photo-rotate-4">
        <div class="photo-image" style="
            background-image:url(/static/01-ensography/crystalgram/illustrations/04-kristinakravchenco.jpg);
            "><div class="photo-caption paper-typeface">
                @kristinakravchenco
            </div></div>
    </div>
    <div class="photo photo-rotate-5">
        <div class="photo-image" style="
            background-image:url(/static/01-ensography/crystalgram/illustrations/05-alfongaliana.jpg);
            "><div class="photo-caption paper-typeface">
                @alfongaliana
            </div></div>
    </div>
    <div class="photo photo-rotate-6">
        <div class="photo-image" style="
            background-image:url(/static/01-ensography/crystalgram/illustrations/06-bqt_celine.jpg);
            "><div class="photo-caption paper-typeface">
                @bqt_celine
            </div></div>
    </div>
    <div class="photo photo-rotate-3">
        <div class="photo-image" style="
            background-image:url(/static/01-ensography/crystalgram/illustrations/03-vertu_oz.jpg);
            "><div class="photo-caption paper-typeface">
                @vertu_oz
            </div></div>
    </div>
    <div class="photo photo-rotate-2">
        <div class="photo-image" style="
            background-image:url(/static/01-ensography/crystalgram/illustrations/02-vertu_oz.jpg);
            "><div class="photo-caption paper-typeface">
                @vertu_oz
            </div></div>
    </div>
    <div class="photo photo-rotate-1">
        <div class="photo-image" style="
            background-image:url(/static/01-ensography/crystalgram/illustrations/01-enrico_borgogno.jpg);
            "><div class="photo-caption paper-typeface">
                @enrico_borgogno
            </div></div>
    </div>

</div>