    <div class="experiment-one experiment-one-state-start">
        <div class="bottle bottle-full">
            <div class="bottle-bg-empty"></div>
            <div class="bottle-bg-full"></div>
        </div>
        <div class="experiment-photo photo photo-rotate-1">
            <img src="/static/data/bottle/1.jpg">
        </div>
        <iframe src="/experiment/bottle_iframe"></iframe>
        <div class="experiment-one-results clearfix">
            <div class="experiment-one-results-pan"></div>
            <div class="photo">
                <img src="/static/data/bottle/2.jpg">
            </div>
            <div class="photo">
                <img src="/static/data/bottle/1.jpg">
            </div>
            <div class="photo">
                <img src="/static/data/bottle/2.jpg">
            </div>
            <div class="photo">
                <img src="/static/data/bottle/2.jpg">
            </div>
            <div class="photo">
                <img src="/static/data/bottle/1.jpg">
            </div>
            <div class="photo">
                <img src="/static/data/bottle/2.jpg">
            </div>
            <div class="photo">
                <img src="/static/data/bottle/2.jpg">
            </div>
            <div class="photo">
                <img src="/static/data/bottle/1.jpg">
            </div>
            <div class="photo">
                <img src="/static/data/bottle/2.jpg">
            </div>
        </div>
    </div>