<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>Upload complete</title>
        <script>
            if (window.parent)
                {% if is_question %}
                    window.parent.BottleExperiment.prototype.OnIframeQuestion();
                {% else %}
                    window.parent.BottleExperiment.prototype.OnIframeAnswer({ pk: {{pk}} });
                {% endif %}
        </script>
    </head>
    <body>
    </body>
</html>
