{% extends "article/base.html" %}

{% block body %}

{% include "article/parts/title.html" %}
{% include "article/parts/toc.html" %}
{% include "article/parts/essay1.html" %}
<div class="auto-comments" data-tag="essay1" title="Learnings and Further Discussion"></div>
{% include "article/parts/essay2.html" %}
<div class="auto-comments" data-tag="essay2" title="Learnings and Further Discussion"></div>
{% include "article/parts/crystalgram.html" %}
<div class="auto-comments" data-tag="crystalgram" title="Learnings and Further Discussion"></div>
{% include "article/parts/footer.html" %}
<div class="brick64"></div>
<div class="brick64"></div>



    
{% endblock  %}