{% extends "article/base.html" %}

{% block jquery %}
<script type="text/javascript">
    var p = [];
    function push_bg()  { p.push($(this).css('background-image').replace(/^url\((.*)\)$/, "$1")) };
    function push_src() { p.push(this.src) };
    $('img').each(push_src);
    $('body, .paper-sheet, .userpic, .icon-img, .chrome-demo-iphone, .photo-image').each(push_bg);
    function simplify(p) {
        var pp = [];
        function add_pp(x) { if (pp.indexOf(x) < 0) pp.push(x) }
        p.map(add_pp);
        return pp;
    }
    window.preloadReady = false;
    $(simplify(p)).preload(function(){
        window.preloadReady = true;
        $('.loader').css({opacity:0})
        setTimeout(function(){ $('.loader').hide() }, 250);
    })
</script>
{% endblock  %}
{% block body %}

{% include "article/parts/title.html" %}
{% include "article/parts/toc.html" %}
{% include "article/parts/essay1.html" %}
<div class="auto-comments" data-tag="essay1" title="Learnings and Further Discussion"></div>
{% include "article/parts/essay2.html" %}
<div class="auto-comments" data-tag="essay2" title="Learnings and Further Discussion"></div>
{% include "article/parts/crystalgram.html" %}
<div class="auto-comments" data-tag="crystalgram" title="Learnings and Further Discussion"></div>
{% include "article/parts/footer.html" %}
<div class="brick64"></div>
<div class="brick64"></div>

<div class="loader chrome-text-typeface">
    <p>
        <strong>The article is loading.</strong>
    </p>
    <p>
        It could take quite a long time due to excessive amount of graphics.
    </p>
</div>
    
{% endblock  %}