{% extends "article/base.html" %}

{% block body %}
<div class="above-header chrome-hint-typeface">
    <img src="/static/img/above.png" width="141" height="48">
    <p>
        shares these drafts with you and 1846 other researchers.
    </p>
</div>


<div class="wrapper-main">
    <div class="paper-shadow">
        <div class="paper-sheet paper-lined paper-note paper-typeface article-title-note">
            <p>
                “We keep moving forward, opening new doors, and doing new things, because we're curious and curiosity keeps leading us down new paths.” 
            </p>
            <p class="decorate-right">
                — Walt Disney
            </p>   
        </div>
    </div>
    <div class="paper-sheet paper-main paper-typeface article-title-sheet">
        <img src="/static/01-ensography/article-title-picture.png" width="400" height="300" />
        <h1>Above Photography</h1>
        <p>
            Collected Notes On Poking and Prying With Purpose
        </p>
        <p><br></p>
        <p class="paper-typeface-author">
            by Nikolay Yaremko,
            <br>
            Anna Kotliarevskaia et al.
        </p>
    </div>
</div>

<div class="control-expandable">
    <div class="control-center">
        <div class="icon icon--toc clearfix">
            <div class="icon-collapse"></div>
            <div class="icon-img"></div>
            <div class="icon-text chrome-label-typeface">Table Of Contents</div>
        </div>
    </div>
    <div class="control-expansion">
        <div class="wrapper-narrow">
            <div class="chrome-toc-hint chrome-hint-typeface">
                    Proceed to this chapter — 
            </div>            
            <div class="chrome-toc control-toc chrome-text-typeface clearfix">
                <div class='chrome-toc-contents'>
                    <div class='chrome-toc-section'>
                        <strong>
                            I. Essays On History Of Photography
                        </strong>
                    </div>
                    <a href="#chapter-1-1" class='chrome-toc-chapter'>
                        1.1. Middle Class Demands Portraits
                    </a>
                    <a href="#chapter-1-2" class='chrome-toc-chapter'>
                        1.2. Photocamera For The People
                    </a>
                    <a href="#chapter-1-3" class='chrome-toc-chapter'>
                        1.3. Pictorial Art and The Faithful Witness
                    </a>
                    <a href="#chapter-1-4" class='chrome-toc-chapter'>
                        1.4. Photography Tells a Story
                    </a>
                    <div class='chrome-toc-section'>
                        <strong>
                            II. Product Demonstration
                        </strong>
                    </div>
                    <a href="#chapter-2-1" class='chrome-toc-chapter'>
                        2.1. <strong>WITH</strong>: Become Mayor Of Your Girlfriend
                    </a>
                    <a href="#chapter-2-2" class='chrome-toc-chapter'>
                        2.2. <strong>CRYSTALGRAM</strong>: Get Paid For Photos
                    </a>
                    <a href="#chapter-2-3" class='chrome-toc-chapter'>
                        2.3. <strong>BOTTLE</strong>: Dialogues With Unknown
                    </a>
                    <a href="#chapter-2-4" class='chrome-toc-chapter'>
                        2.4. <strong>FOLDFOLDFOLD</strong>: The Narrative Unfold
                    </a>
                    <a href="#chapter-2-5" class='chrome-toc-chapter'>
                        2.5. <strong>SIXTAGRAM</strong>: Six Friends You Don't Know
                    </a>
                    <div class='chrome-toc-section'>
                        <strong>
                            III. Playful Research
                        </strong>                
                    </div>
                    <a href="#chapter-3-1" class='chrome-toc-chapter'>
                        3.1. <strong>SOCIATHON</strong>: Find Common Clouds
                    </a>
                    <a href="#chapter-3-2" class='chrome-toc-chapter'>
                        3.2. <strong>ARTPIECE</strong>: Collective Master Piece
                    </a>
                    <a href="#chapter-3-3" class='chrome-toc-chapter'>
                        3.3. <strong>HAIKU</strong>: Seize The Moment
                    </a>
                    <div class='chrome-toc-section'>
                        <strong>
                            IV. Jump To Conclusions
                        </strong>
                    </div>
                    <a href="#chapter-4-1" class='chrome-toc-chapter'>
                        4.1. Preliminary Final Thoughts
                    </a>
                </div>
            </div>
            <div class="brick64"></div>

        </div>
    </div>
</div>


<div class="wrapper-main">
    <div class="paper-sheet paper-main paper-typeface">
        <p>
        In this brief survey of the mobile parts of our body, we have, only in our extremities and head-mounted devices, close to a hundred directions and types of mobility (degrees of freedom). If we add the snakelike flexibility of our neck and trunk, the resulting number is enormous. The reader can probably sense already the difficulty of control of such a <em>multifaceted</em> mobility, but <strong>probably</strong> does not yet realize what the major problem is. Let us look methodically into all the difficulties and try to reveal the most challenging ones.
        </p>
        <p>
        If one takes into account <em><strong>that different movements</strong></em> in many joints take place simultaneously and that such unified movements as looking, walking, running, and throwing proceed in the form of finely tuned, cooperative synergies, one of the difficulties becomes immediately obvious in its full extent. How enormous would be the distribution of attention if all the elements of such complex movements were controlled separately with close attention to each of them! In some patients with brain injury resulting from tumor removal from certain brain areas, one can see the loss of the ability to control complex movements voluntarily. 
        </p>

    </div>
</div>
    
{% endblock  %}