{% extends "article/base.html" %}

{% block body %}


<div class="brick64"></div>

<div class="wrapper-main">
    <div class="paper-sheet paper-main paper-typeface">
        <p>
        In this brief survey of the mobile parts of our body, we have, only in our extremities and head-mounted devices, close to a hundred directions and types of mobility (degrees of freedom). If we add the snakelike flexibility of our neck and trunk, the resulting number is enormous. The reader can probably sense already the difficulty of control of such a <em>multifaceted</em> mobility, but <strong>probably</strong> does not yet realize what the major problem is. Let us look methodically into all the difficulties and try to reveal the most challenging ones.
        </p>
    </div>
</div>

<style type="text/css">
.control-right {
    padding: 12px 0;
    margin-left: 488px;
    position: absolute;
    left: 50%;

}    

.comments {
    left: 50%;
    position: relative;
}
.comments-host-left {
    position: absolute;
    margin-left: -1024px;
    opacity: 0.25;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
.comments-host-right {
    position: absolute;
    margin-left: 384px;
    opacity: 0.25;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
.comments-host-right .userpic {
    opacity: 0.5;
}
.comments-host-middle {
    margin-left: -320px;
}
.comments-host {
    width: 640px;
}
.comments-host-left:hover,
.comments-host-right:hover {
    opacity: 1;
}

.comments-paper {
    min-height: 192px;
    width: 480px;
    position: absolute;
    padding: 32px 32px 32px 128px;
    -moz-box-shadow:    0px 1px 4px 0px rgba(0,0,0, 0.125);
    box-shadow:         0px 1px 4px 0px rgba(0,0,0, 0.125);
}
.comments-host-middle .comments-paper {
    position: inherit;
}
.comments-paper .userpic {
    float: left;
    margin-left: -96px;
}
.comments-pile-1 {
    -moz-transform:    rotate(0.5deg);
    -o-transform:      rotate(0.5deg);
    -webkit-transform: rotate(0.5deg);
    transform:         rotate(0.5deg);
}
.comments-pile-2 {
    margin-top: 2px;
    -moz-transform:    rotate(-0.5deg);
    -o-transform:      rotate(-0.5deg);
    -webkit-transform: rotate(-0.5deg);
    transform:         rotate(-0.5deg);
}
.comments-pile-3 {
    margin-left: -3px;
    -moz-transform:    rotate(0deg);
    -o-transform:      rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform:         rotate(0deg);
}
.comments-area {
    padding: 0;
    width: 640px;
}
.comments-area textarea {
    width: 512px;
    padding: 32px 64px;
    border: 0px;
    min-height: 192px;
    color: #252525;
    outline: none !important;
}
.comments-send {
    padding: 12px 0;
    position: relative;
    left: 50%;
}
.comments-hint {
    position: absolute;
    line-height: 24px;
    padding: 12px 0;
}

</style>

<div class="control-expandable">
    <div class="control-right">
        <div class="icon icon--comments clearfix">
            <div class="icon-img icon-static chrome-label-typeface">3</div>
            <div class="icon-text chrome-label-typeface">Findings</div>
        </div>
    </div>
    <div class="control-center control-comments">
        <div class="icon icon--notes clearfix">
            <div class="icon-collapse"></div>
            <div class="icon-img"></div>
            <div class="icon-text chrome-label-typeface">Learnings and Further Discussion</div>
        </div>
    </div>
    <div class="control-expansion">
        <div class="comments clearfix">
            <div class="comments-host-left comments-host">
            </div>
            <div class="comments-host-right comments-host">
                <div class="comments-paper paper-white comments-pile-3">
                    <div class="userpic userpic-nyaremko"></div>
                    <div class="comments-author comments-author-typeface">
                        Nikolay Yaremko
                    </div>
                    <div class="comments-text comments-typeface">
                        Apparently, when the body is healthy its sensory organs provide enough guarantees against such problems. On the other hand, the enormously excessive degrees of freedom, apparently give us considerable advantages.
                    </div>
                </div>
                <div class="comments-paper paper-white comments-pile-2">
                    <div class="userpic userpic-nyaremko"></div>
                    <div class="comments-author comments-author-typeface">
                        Nikolay Yaremko
                    </div>
                    <div class="comments-text comments-typeface">
                        Apparently, when the body is healthy its sensory organs provide enough guarantees against such problems. On the other hand, the enormously excessive degrees of freedom, apparently give us considerable advantages.
                    </div>
                </div>
                <div class="comments-paper paper-white comments-pile-1">
                    <div class="userpic userpic-nyaremko"></div>
                    <div class="comments-author comments-author-typeface">
                        Nikolay Yaremko
                    </div>
                    <div class="comments-text comments-typeface">
                        Apparently, when the body is healthy its sensory organs provide enough guarantees against such problems. On the other hand, the enormously excessive degrees of freedom, apparently give us considerable advantages.
                    </div>
                </div>
            </div>
            <div class="comments-host-middle comments-host">
                <div class="comments-paper paper-white comments-area">
                    <textarea class="comments-typeface autosizejs" placeholder="What do you think of this? How do you recollect the experience? Please reflect on the topic and share your thoughts here."></textarea>
                </div>
                <div class="comments-controls">
                    <div class="comments-hint chrome-hint-typeface">
                        We expect thoughts deeper than 140 symbols.
                        <br>
                        Your thoughts will be published only if you ask for it.
                    </div>
                    <div class="comments-send">
                        <div class="icon icon--send clearfix">
                            <div class="icon-img icon-static"></div>
                            <div class="icon-text chrome-label-typeface">Store your thoughts</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brick64"></div>
    </div>
</div>

<div class="wrapper-main">
    <div class="paper-sheet paper-main paper-typeface">
        <p>
        If one takes into account <em><strong>that different movements</strong></em> in many joints take place simultaneously and that such unified movements as looking, walking, running, and throwing proceed in the form of finely tuned, cooperative synergies, one of the difficulties becomes immediately obvious in its full extent. How enormous would be the distribution of attention if all the elements of such complex movements were controlled separately with close attention to each of them! In some patients with brain injury resulting from tumor removal from certain brain areas, one can see the loss of the ability to control complex movements voluntarily. 
        </p>
    </div>
</div>

{% endblock  %}