{% extends "article/base.html" %}

{% block body %}

<div class="brick64"></div>

<div class="wrapper-main">
	
	<div class="paper-sheet paper-main">
		<div class="brick16"></div>
	</div>
	<div class="brick16"></div>
	<div class="paper-sheet paper-main paper-another">
		<div class="brick16"></div>
	</div>
	<div class="brick16"></div>
	<div class="paper-sheet paper-main paper-other">
		<div class="brick16"></div>
	</div>
	<div class="brick16"></div>
	<div class="paper-sheet paper-main paper-white">
		<div class="brick16"></div>
	</div>
	<div class="brick16"></div>
	<div class="paper-sheet paper-main paper-lined">
		<div class="brick16"></div>
	</div>


</div>
	
{% endblock  %}