<div class="wrapper-main">

<div class="paper-sheet paper-main paper-another paper-typeface" id="chapter-2-2">
    
    <h2>
        <small>2.2. Crystalgram</small>
        Value Your Life Moments
    </h2>

    <p>
    Photography was adopted by masses after the invention of compact cameras in the beginning of XXth century; general public strives to capture moments of social and emotional value roughly since 1920. People photograph objects and scenes they consider as affirmation of their social image: cars, apparel, jewelry, delicious food and other symbols of luxury and good taste; sketchbooks, handwritten notes, books and other symbols of intellectualism and artistry. 
    </p>
    {% include "article/crystalgram/illustrations01.html" %}
    <p>
    But to capture is not enough: it is required to share with friends, relatives, colleagues, former classmates. Sharing is a way to confirm considered social value of pictured object. Instagram did a great deal to engage its users in a feedback loop of confirmation with its ‘Like’ feature. Avid <em>instagrammers</em> publish their pictures primarily to collect <em>likes</em>, and to collect followers who, again, might <em>like</em> future pictures.
    </p>
    <p>
    However, the very mechanics of ‘Like’ is flawed: it creates mutual admiration society. Very often one <em>likes</em> photo of her friend only to receive reciprocal <em>likes</em>. Photo is being <em>liked</em> by author’s friends neither for its artistic quality nor for its social status. It is cheap to <em>like</em>: <em>likes</em> cost almost nothing and come in uncapped volumes. 
    </p>
    <p>
    Therefore, <em>likes</em> of Instagram can not be used as a measure of social or any other kind of value.
    </p>
    <p>
    Let us imagine the photographic social network where to like is to pay. Even more, let us imagine that any user could set a price for her photos. Others will see only blurred contours until they pay. First person is to pay small starting fee, but for next ones price will raise similar to mechanics of bid auction. The latter will create a competitive ecosystem where it is beneficial to check your news feed frequently in order to seize low bids.
    </p>
    <p>
    Given the limited nature of such virtual currency, users will become more picky. More valuable photos will receive more <em>likes</em>, and the social value of photos posted will become tangible.
    </p>
    <p>
    We have designed <em>The Crystalgram App</em> to experience these ideas in greater detail. Crystalgram is the photosocial network where users have to pay crystals to view and discuss exquisite photos.    
    </p>
    <div class="author author-bottom">
        <div class="author-menu">
            <div class="author-menu-contents">
                <div class="author-menu-item">
                    <a href="mailto:nick@projectabove.com" class="icon icon--email clearfix">
                        <div class="icon-collapse"></div>
                        <div class="icon-img"></div>
                        <div class="icon-text chrome-hint-typeface">nick@projectabove.com</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="userpic userpic-small userpic-nyaremko"></div>
        <div class="author-name paper-typeface-author">
            Featured product designed by Nikolay Yaremko
        </div>
    </div>
</div>

</div>


<!-- DESIGN SECTION - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- DESIGN SECTION - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- DESIGN SECTION - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- DESIGN SECTION - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
{% include "article/crystalgram/demo.html" %}

<!-- MECHANICS SECTION - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- MECHANICS SECTION - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- MECHANICS SECTION - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- MECHANICS SECTION - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<div class="wrapper-main">

<div class="paper-sheet paper-main paper-other paper-typeface">
    <p>
        We have introduced <em>crystals</em> — some sort of virtual currency. Each user receives 100 <em>crystals</em> right after she signs up. User can gain more <em>crystals</em> just by browsing the ‘News Feed’ and ‘What’s Hot’ panes for a sizeable amount of time: say she will receive a <em>crystal</em> for each minute spent in the app.
    </p><p>
        The much quicker way to obtain <em>crystals</em> is to publish crystallized photos. When a follower of the user uncovers crystallized photo, he pays current uncover price. User receives 100% of <em>crystals</em> paid for her photos. After each payment uncover price is raised by starting bid. If the starting bid amounts to 5 <em>crystals</em>, then first follower will pay 5 <em>crystals</em>, second one — 10 <em>crystals</em>, third one — 15 <em>crystals</em> and so forth.
    </p><p>       
        <em>Crystals</em> could be purchased via In-App Purchase, of course. If a follower wants just to spectate, he could buy 500 <em>crystals</em> for $0,99 or 5000 <em>crystals</em> for just $4,99.
    </p><p>
        Finally, any user can invest his <em>crystals</em> in promising photos thus making more <em>crystals</em> out of his prescience. For example, let a starting bid of a photo be 5 <em>crystals</em>. If user raises it by 10 <em>crystals</em> more, the starting bid will become 15 <em>crystals</em>. Then the next follower will pay 15 <em>crystals</em>: 5 will go to the author of this photo and other 10 to our lucky investor.
    </p><p>
        This monetary system allows for different user behavior:
    </p>
    <ul>
        <li>
            an artist user could just publish her photos and receive <em>crystals</em> from anyone who uncovers them;    
        </li>
        <li>
            an idle spectator could slowly raise <em>crystals</em> by exploring depths of ‘News Feed’ and ‘What’s Hot’, occasionally making in-app purchases;        
        </li>
        <li>
            finally, a gambling connoisseur could make <em>crystals</em> riding the waves of trending crystallizations.
        </li>
    </ul>
    <img src="/static/01-ensography/crystalgram/illustrations/typical-abramamama.png" 
    width="1152" style="margin: 0 -192px 0">
    <p>
        We have imagined the Crystalgram account of a typical instagrammer. She thinks each aspect of her life is important and valuable. But soon enough she will see that some of her photos raise more <em>crystals</em> then others. Does that correlate with social value of photos and objects they represent?
    </p>

    <!--
    <h3>Takeaways</h3>
    <p>
        There was a reason to depict our imaginary instagrammer as a woman. As John Berger et al. put it in 
        Ways Of Seeing essay: ‘men act and women appear. Men look at women. Women watch themselves being looked at... This turns herself into an object—and most particularly an object of vision: a sight.’
    </p>
    <p>
        I think the most probable usage of such monetary social network will be to provide users with amateur nude pictures of women from their social circle. As for the women themselves, Crystalgram could become a conventional way to publish their romanticised topless figures combining nice visual effect of crystallization with high starting bid. Male publishers will devolve soon enough to crystallize just random erotics and pornography from the internet. Finally the solicitation business will appear on the horizon and Crystalgram will become Pimpogram: where pimps crystallize their hoes. Crystallization will work nicely not only with hiding nudity but also with hiding phone number imprinted into the photo.
    </p>
    -->
</div>



</div>