<div class="wrapper-main">

<div class="paper-sheet paper-main paper-another paper-typeface" id="chapter-1-1">
    
    <h2>
        <small>1.1.</small>
        Birth Of Photography
    </h2>

    <p>
    In the first article we will explore the origins of public interest towards photography.
    </p>

    <h3>
        Painters’s Helping Hand
    </h3>
    <p>
    Leonardo da Vinci was among the first Enlightment painters who used technical means to build up realistic perspectives. However, his description of <em>camera obscura</em> (literally ‘dark room’) was hidden in his private notes. First man to publish detailed scheme of camera obscura was Giovanni Battista della Porta; he published it in 1553 within his book ‘Natural Magic’.
    </p>

    <p>
    Earlier versions of camera obscura were literally rooms with no light, but soon enough there was invented a much more compact variant with the same principle: there was a dark box, a ray of light came in through tiny hole (Daniele Barbaro suggested to place lens in the hole in 1568), and projection was created on the opposite side of the box. Painter was to trace object contours highlighted by this projection, the resulting picture was toned and colored afterwards. Mirror was added to camera obscura after more than a century; with help of this mirror picture was projected on the top side of the box—this position was more comfortable for the painter to sketch a draft on tissue paper placed on the top of the camera (see illustration).
    </p>

    <div class="photo-block" style="width: 450px; height: 352px; padding-top: 32px">
        <div class="photo photo-rotate-2"><div class="photo-image" style="
            width: 400px; height: 350px;
            background-image:url(/static/01-ensography/essays/02.jpg);
            backgorund-size: cover;
            "><div class="photo-caption paper-typeface">
            A camera lucida. From V. Chevalier, <br>
            <em>Notice sure l’usage la chambre claire</em>,
            Paris 1834
        </div></div></div>
        <div class="photo photo-rotate-1"><div class="photo-image" style="
            width: 400px; height: 300px;
            background-image:url(/static/01-ensography/essays/01.jpg);
            backgorund-size: cover;
            "><div class="photo-caption paper-typeface">
            An artist using a camera obscura.<br>
            From an engraving by C. Höschel, 1769
        </div></div></div>
    </div>

    <p>
    Another mechanical substitute for artistic skill was the <em>camera lucida</em>, invented by William Hyde Wollaston in 1806. The device was named only to resemble with its older relative, for there was no ‘camera’ in camera lucida. ‘Drawing paper was laid flat. Over it a glass prism was suspended at eye level by a brass rod. Looking through the prism the operator saw at the same time both the subject and the drawing paper; his pencil was guided by the virtual image.’ One could say it was the first augmented reality creative tool. Camera lucida was small, easy transportable and undemanding for the light conditions compared to camera obscura.
    </p>
    <p>
    Both inventions made painter’s life much easier, but even the camera lucida demanded some artistic skill. General public was eager to find less demanding and therefore cheap solution to mass painting.
    </p>
    <p>
    During the eighteenth century the demand for paintings, reproductions, and in particular, portraits developed together with the middle class. There has always been a stratum of people of modest means, but financially independent; this social group between the nobility and the peasantry became a significant part of European society during the Industrial Revolution. The middle class sought to separate themselves from the lower strata of society and to emphasize their difference in all possible ways. The most common way was to imitate noble and wealthier people.
    </p>

    <div class="photo-block" style="width: 450px; height: 400px;">
        <div class="photo photo-rotate-2"><div class="photo-image" style="
            width: 400px; height: 231px;
            background-image:url(/static/01-ensography/essays/04.jpg);
            backgorund-size: cover;
            "><div class="photo-caption paper-typeface">
            Mr. and Mrs. Andrews, Thomas Gainsborough, 1750.
        </div></div></div>
        <div class="photo photo-rotate-1"><div class="photo-image" style="
            width: 400px; height: 377px;
            background-image:url(/static/01-ensography/essays/03.jpg);
            backgorund-size: cover;
            "><div class="photo-caption paper-typeface">
            The Ambassadors. Hans Holbein, 1533
        </div></div></div>
    </div>

    <p>
    Every painting in those days carried symbolic meaning: her owner was to appear before the audience as a rich and prosperous businessman with great thoughts, certainly worthy of respect.
    </p>
    <p>
    It was customary that paintings with animals and inanimate objects should also talk about the positive qualities of the owner of the house. Even the landscapes were painted according to customer’s wishes: they portrayed the sites of nature, which belonged or should belong to those for whom this painting was intended.
    </p>
    <p>
    John Berger describes the relationship between the custom painting and prosperity of its owner:
    <em>[o]il painting did to appearances what capital did to social relations. It reduced everything to the equality of objects. Everything became exchangeable because everything became a commodity. All reality was mechanically measured by its materiality... (John Berger, Ways Of Seeing)</em>
    </p>

    <h3>Portraits For The People</h3>
    <p>
    With the advent of lithographic process reproductions of paintings plummeted in price, and the middle class decorated walls with them in imitation of the rich. Society demanded cheap portraits then—this desire was so widespread that it lead to many attempts to ‘capture the light’. A french inventor Joseph Nicéphore Niépce developed a method of storing images on metal plates and glass. After a lengthy correspondence Niépce entered a partnership with the artist Louis Daguerre to popularize and sell his invention.  Unfortunately, Niepce died in 1833, and Daguerre published an improved Niépce heliograph in 1837 under its own name: <em>the daguerreotype</em>.
    </p>

    <div class="photo-block" style="float:none; height: 450px; margin-left: 0px">
        <div class="photo photo-rotate-1 photo-no-move"><div class="photo-image" style="
            width: 768px; height: 412px;
            background-image:url(/static/01-ensography/essays/05.jpg);
            backgorund-size: cover;
            "><div class="photo-caption paper-typeface">
            Daguerreotype camera and equipment, about 1843.
        </div></div></div>
    </div>


    <p>
    Daguerreotype was, according to the Daguerre, ‘the physical and chemical processes that allow nature to reproduce itself’. The disadvantage of this process was that each picture took several minutes of exposure—that is why we do not see people in early daguerreotypes. People appeared in pictures only when the daguerreotype was used for making portraits.
    </p>

    <div class="photo-block" style="height: 460px;">
        <div class="photo photo-rotate-4 photo-no-move"><div class="photo-image" style="
            width: 300px; height: 445px;
            background-image:url(/static/01-ensography/essays/06.jpg);
            backgorund-size: cover;
            "><div class="photo-caption paper-typeface">
            Asher B. Durand. American painter. Dagguerreotype, New-York Historical Society
        </div></div></div>
    </div>

    <p>
    Daguerreotype was inconvenient for portraiture because it required a feat almost impossible: person was required to sit motionless in front of the camera for 10–15 minutes while maintaining the natural facial expression. Try it yourself and record this performance on video: most likely, you will capture a strained look or find yourself moving slightly.
    </p>
    <p>
    Daguerre foresaw the use of his technology for portraits himself, but being a painter not an inventor, he could have done nothing to improve it. Daguerre went to paint the little church near Bry-sur-Marne and reunited with Niépce fifteen years later. Fortunately, the Niépce-Daguerre venture was continued by Joseph Petzval, John Frederick Goddard and Hippolyte Louis Fizeau, who consequentually improved lenses, light-sensitive layer and the cover plate. Daguerreotype became much more simple, and most importantly, a rapid process. It led to the flourishing of portrait galleries; it was required to stand an hour in line in order to get into one. By 1850 there were 71 portrait gallery in New York were worked a total of 127 people.
    </p>
    <p>
    The cost of the portrait gradually dropped from $5 per plate (size of 6½ × 8½ inches) to a dollar for a portrait in half of the plate. Gradually, the competition has brought prices to a minimum: 25 cents a pair.
    </p>
    <p>
    Yet the daguerreotype was doomed: ‘[i]t was fragile and had to be kept under glass in a bulky case. It was hard to look at because of the metallic glare. And it was expensive.’ Most importantly, each picture was unique and can not be reduplicated. As soon as the paper process has reached a comparable image quality, the daguerreotype was forgotten. But not right away.
    </p>

    <div class="photo-block" style="width: 450px; height: 400px;">
        <div class="photo photo-rotate-4"><div class="photo-image" style="
            width: 287px; height: 400px;
            background-image:url(/static/01-ensography/essays/09.jpg);
            backgorund-size: cover;
            "><div class="photo-caption paper-typeface">
            HILL &amp; ADAMSON. James Glencairn Burns, about 1845.
        </div></div></div>
        <div class="photo photo-rotate-2"><div class="photo-image" style="
            width: 400px; height: 315px;
            background-image:url(/static/01-ensography/essays/07.jpg);
            backgorund-size: cover;
            "><div class="photo-caption paper-typeface">
            Talbot’s Calotype Establishment at Reading, England.
        </div></div></div>
        <div class="photo photo-rotate-1"><div class="photo-image" style="
            width: 400; height: 316px;
            background-image:url(/static/01-ensography/essays/08.jpg);
            backgorund-size: cover;
            "><div class="photo-caption paper-typeface">
            Talbot’s Calotype Establishment at Reading, England.
        </div></div></div>
    </div>

    <p>
    One of Niépce and Daguerre contemporaries was contributed greatly to improvement of the paper process: William Henry Talbot. Sir John Herschel coined the word <em>‘photography’</em> to describe works of Talbot—and the word quickly spread throughout the Western world.
    </p>
    <p>
    At first, the <em>photogenic</em> picture quality was inferior to Daguerre’s silver plates: the images were blurred and eventually disappear completely. In 1840 Talbot significantly improved technologies and named it <em>talbotype</em>.
    </p>

    <p>
    Talbot patented the technology and allowed the free use of it in every way, except for portraits. Portraits, as we could see, were an essential golden mine: one Richard Beard, being neither an artist nor a scientist, earned by his portrait galleries 40 thousand pounds in a single year (in terms of today—about 3 millions pounds).
    </p>

    <div class="photo-block" style="width: 450px; height: 320px;">
        <div class="photo photo-rotate-4"><div class="photo-image" style="
            width: 350px; height: 300px;
            background-image:url(/static/01-ensography/essays/13.jpg);
            backgorund-size: cover;
            "><div class="photo-caption paper-typeface">
            Collodion process, step 4
        </div></div></div>
        <div class="photo photo-rotate-3"><div class="photo-image" style="
            width: 350px; height: 300px;
            background-image:url(/static/01-ensography/essays/12.jpg);
            backgorund-size: cover;
            "><div class="photo-caption paper-typeface">
            Collodion process, step 3
        </div></div></div>
        <div class="photo photo-rotate-2"><div class="photo-image" style="
            width: 400px; height: 252px;
            background-image:url(/static/01-ensography/essays/11.jpg);
            backgorund-size: cover;
            "><div class="photo-caption paper-typeface">
            Collodion process, step 2
        </div></div></div>
        <div class="photo photo-rotate-1"><div class="photo-image" style="
            width: 400px; height: 228px;
            background-image:url(/static/01-ensography/essays/10.jpg);
            backgorund-size: cover;
            "><div class="photo-caption paper-typeface">
            Collodion process, step 1
        </div></div></div>
    </div>

    <p>
    In 1851, Frederick Scott Archer invented the <em>collodion process</em>, which almost immediately replaced talbotypes, for it was very effective: fast, reliable and inexpensive. This process was intended for the manufacture of negatives, but used a glass plate instead of paper; glass plate was watered with the emulsion, photographed and processed immediately afterwards. The original invention was called <em>ambrotype</em>, its improvements were called <em>ferrotype</em> or <em>tintype</em> because positives were printed on aluminium plates.
    </p>
    <p>
    <em>‘Because the surface of tintype was not fragile they could be sent through the mail, carried in the pocket, and mounted in albums. They were processed while the customer waited. They were cheap, not only because the materials were cheap, but also because, using multi-lens camera, several images could be secured with one operation.’ (Beaumont Newhall, History of Photography)</em>
    </p>
    
    <div class="photo-block" style="width: 450px; padding-top: 32px; height: 330px">
        <div class="photo photo-rotate-4"><div class="photo-image" style="
            width: 400px; height: 328px;
            background-image:url(/static/01-ensography/essays/15.jpg);
            backgorund-size: cover;
            "><div class="photo-caption paper-typeface">
            DISDERI. Uncut print from a carte-de-visite negative, 1858.
        </div></div></div>
        <div class="photo photo-rotate-2"><div class="photo-image" style="
            width: 400px; height: 326px;
            background-image:url(/static/01-ensography/essays/14.jpg);
            backgorund-size: cover;
            "><div class="photo-caption paper-typeface">
            DISDERI. Uncut print from a carte-de-visite negative.
        </div></div></div>
    </div>

    <h3>Portrait Manufacture</h3>

    <p>
    Surprisingly, neither talbotype nor tintype toppled dagguerreotype from its pedestal; paper process  remained in shadows of the daguerreotype until 1854. That year André Adolphe Eugène Disdéri presented to the public <em>carte-de-visite</em>: photos of size similar to business visit card. Disdéri made a special camera with a negative holder allowing to take a dozen shots of a person in different positions, developed simultaneously after shooting. Disdéri divided the process in two separate stages: shooting and developing, the latter one was technologized to untilize low-wage worker force. All that allowed his portrait gallery to produce up to 2500 pictures a day!
    </p>

    <div class="photo-block" style="height: 460px; width: 350px;">
        <div class="photo photo-rotate-4 photo-no-move"><div class="photo-image" style="
            width: 300px; height: 445px;
            background-image:url(/static/01-ensography/essays/16.jpg);
            backgorund-size: cover;
            "></div></div>
    </div>

    <p>
    The card photograph was stylized to a canon: ‘[t]he figure was almost invariable taken at full length... The fluted column, the book-strewn table and the velvet drape became indispensible pieces of studio furniture’.  All of this was to inform the audience about what constitutes capital wealth of the depicted persona as an  enlightened intellectual.
    </p>
    <p>
    Canon of portrait photography evolved through time. Many of us could remember days of our childhood and photos made in kindergarden with fancy ribbon neck-tie and a handset.
    </p>
    <p>
    Contemporary canon of <em>Instagram</em> includes: luxury car, coctail-bar interior, Apple MacBook and a duckface.
    </p>
    <p>
    To meed the needs of the middle class, portrait photography has evolved from sophisticated art process into utilitarian and easily reproducible technology. Disdéri himself fell victim to this transformation and died in povetry. 
    </p>

    <h3>Face Book</h3>
    <p>
    Perhaps the last significant event in portraiture happened at the beginning of the twenty-first century. Whole ‘social networks’ phenomenon was emerged from photographic portraits. Graduation photo became an universal tradition at the end of the last century, each graduate received not only a diploma, cap and gown, but also a weighty classmates album. What if such an album was available not after graduation but much earlier, right after a student submitted herself into university? Then she could choose her prom king in advance and give him ogles for all the years of study. These thoughts occured to many people all over the world and multiple social networks appeared: Classmates, Facebook, Orkut, Odnoklassniki, Vkontakte, et cetera.
    </p>
    <p>
    With the advent of social networking portrait found a new place to live. We could find last century portaits of beloved ones in wallets and on the fireplace; nowadays ‘avatars’ and ‘userpics’ of Internet tell us about the same thing: what has and what was a person portrayed.
    </p>
    <p>
    Only authorship differs: a hundred years ago you were required to go to portrait gallery to shoot a picture, nowadays—you go to the mirror in your bathroom.
    </p>

    <!--
    <h3>First takeaways</h3>
    <p>
    Photography was pushed into its rapid development by social demand for portraits, which arose from middle class desires to stand out, to be closer to high society. Photography became a kind of affordable luxury, like many others items of progress: printed cotton, cars, personal computers and finally iPhones.
    </p>
    <p>
    Success of carte-de-visite was orchestrated by marketing of ‘intellectual image’ and effectively technologized production process; technologically advanced tintypes could not overcome dagguerreotype. Middle class was interested in cheap luxury imitation, not in superior technology.
    </p>
    <p>
    Portraiture canon for all times dictated photos to represent socially acclaimed criteria of grandeur: firstly worldly blessings, then heavenly virtues.
    </p>
    -->
</div>

</div>
