<div class="wrapper-main">

<div class="paper-sheet paper-main paper-another paper-typeface" id="chapter-1-2">
    
    <h2>
        <small>1.2.</small>
        Camera For Every One
    </h2>

    <p>
    Some time ago, it was enough to buy a SLR camera to become a real photographer. Today you even do not need to buy one—the camera always resides in your pocket. We take photos casually and do not suspect that a couple of decades ago photography was a rare profession requiring considerable knowledge and skill. 
    </p>

    <h3>You Press The Button, We Do The Rest</h3>

    <p>
    In the days of the daguerreotype, talbotype and tintype photographs were mainly scientists and painters who devoted themselves not only to taking pictures but also to further research and development of photographic technology. Amateur photograph should invest not only considerable amount of money, but also a vast amount of time and fair tenacity, which was rewarded with a sense of direct participation in wonder of capturing the light on a silver plate.
    </p>
    <p>
    The complexity of photographer’s work was not only in the choice of location and exposure: the process of development and fixation was also very difficult. Carte-de-visite, the infamous invention of Disdéri, simplified if not the process but at least its arrangement, for shooting in the stable conditions allows for more steamlined development.
    </p>
    <p>
    However, collodion process still restricted the freedom of the photographer.  Due to very short lifespan of the prepared plate, the photographer could not move his camera away from the developing room. The solution to this problem was found in 1871 by Richard Leach Maddox, who really did not like the smell of colloidal emulsion, so he replaced it with a layer of odorless gelatin. Whether by accident, these new gelatin plates could be stored for a long time, thus photographer was no longer dependent on the development room at hand.
    </p>
    <p>
    Photography has evolved from experiments to a technologized process during the nineteenth century. Image development was no longer a craft and could be performed separately from shooting. Amateurs who appreciated feeling of ‘alone I did it’ were disappointed. Lewis Carroll, for example, considered photo development unfit for ‘artistic effect,’ and sent his negatives to be printed by H. P. Robinson.
    </p>

    <div class="photo-block" style="height: 430px; width: 350px;">
        <div class="photo photo-rotate-4 photo-no-move"><div class="photo-image" style="
            width: 300px; height: 430px; 
            background-image:url(/static/01-ensography/essays/17.jpg);
            backgorund-size: 100%;
            "><div class="photo-caption paper-typeface">
            The “Parcel Detective Camera” manufactured by Marion &amp; Co., London, 1887
        </div></div></div>
    </div>

    <p>
    The speed of the new process made the tripod no longer necessary; the camera could be held in hand. A bewildering array of hand cameras appeared on the market, some were disguised as paper parcels, luggage, watches, books. Because with these cameras exposures could be made surreptitiously, they were called ‘detective cameras’.
    </p>
    <p>
    All of us know the name of the most popular ‘detective camera’. To commemorate camera of his, George Eastman invented a new word that would sound the same in all languages. But that was not the name that brought popularity to Kodak; it was even more brilliant marketing proposition: ‘You press the button, we do the rest’. Each Kodak was loaded at the factory with a roll of photographic paper. After user had taken one hundred exposures, he sent the entire camera to the factory, where the negative were developed, its emulsion transferred from the paper to glass, dried and printed. For $10 ($200 by modern prices) the camera was reloaded and returned to owner.
    </p>
    <p>
    George Eastman had done more than invent a camera; he invented a system and worked out machinery for producing standardized material in quantities sufficient to back up the system. That system brought the taking of photographs to the million. Photographic societies and amateur photograph clubs were created at quantities all over the world, many photographic journals appeared; photography itself became a contempopary fad.
    </p>

    <h3>What You Can See You Can Photograph</h3>

    <div class="photo-block" style="height: 300px; width: 450px;">
        <div class="photo photo-rotate-1 photo-no-move"><div class="photo-image" style="
            width: 400px; height: 260px; 
            background-image:url(/static/01-ensography/essays/18.jpg);
            backgorund-size: 100%;
            "><div class="photo-caption paper-typeface">
            Advertisement for the Ermanox Camera, <em>Photo-Miniature</em>, 1926
        </div></div></div>
    </div>

    <p>
    Printing process has evolved also. In 1920 lenses with high light-transmission were created alongside with photographic enlarger. Cameras became even smaller and powerful; as Ermanox manufacturer stated in its catalogue: <em>‘…this extremely fast lens opens a new era in photography, and makes accessible hitherto unknown fields with instantaneous or brief time exposures whithout flashlight: night pictures, interiors by artificial light, theater pictures during performance, children’s pictures, scientific records, etc.’</em>
    </p>
    <p>
    The famous Leica was created in the Leitz company, which at the time was producing compact cameras for exposure measurement and preparative shooting. The Leitz company soon saw that the little camera had potentialities beyond its use as an exposure meter. Largely through the work of commercial photographer Paul Wolff, who had acquired one of the first Leicas, the public became aware of the potentialities of the tiny camera, which at first seemed more a toy than a precision instrument. Wolff wrote a book ‘My First Ten Years With Leica’, in which popularized the shooting method in a simple and accessible language. He believed a compact camera was not a substitute for the larger camera, but an individual creative tool with its own special strengths, but thousands of fans would not listen. For them Leica was just a way to make photography more accessible.
    </p>
    <p>
    The meaning of ‘photography’ word shifted from the picture itself—and there was supposed to be a man on the picture—to a process of taking pictures. Photography became a popular hobby, amateurs brazenly forced their way anywhere that off-guard pictures could be taken. Promiscuous shooting while the play went on became such a nuisance that theatres were forced to prohibit unauthorized picture-taking by the audience.
    </p>
    <p>
    Photography was brought to its next round of popularity by the appearance of Kodak Instamatic color cameras in 1963. The launch of these cameras was to follow George Eastman tradition: there was introduced a standardazied negative development process which allowed any photographer to receive his film developed within 24 hours. 
    </p>

    <h3>Juggernaut Of Innovation</h3>

    <p>
    A story about a mass photography will be incomplete without mentioning the achievements of Edwin Land and his company. Land earned fame likewise the one that surrounded Steve Jobs; Land’s company—Polaroid—was called ‘juggernaut of innovation’ by its contemporaries.
    </p>

    <div class="photo-block" style="height: 400px; width: 360px;">
        <div class="photo photo-rotate-2 photo-no-move"><div class="photo-image" style="
            width: 320px; height: 383px; 
            background-image:url(/static/01-ensography/essays/19.jpg);
            backgorund-size: 100%;
            "><div class="photo-caption paper-typeface">
            Photo by Colin M.L. Burnett
        </div></div></div>
    </div>

    <p>
    Edwin Land was a long-time rival of George Eastman; he launched The Land Camera Model 95 in 1947. The camera and its subsequent modifications differed from all other cameras: photos made with Model 95 did not even need to go to the development room. Image was developed directly inside the camera immediately after the shooting. Color Polaroids appeared almost simultaneously with Kodak Instamatic in 1963. Land released the famous Polaroid SX-70 in 1972; the camera was capable of shooting at speed of 2.1 frames per second, to develop the image it was needed just to shake it for a little while.
    </p>
    <p>
    Despite the high price of both the camera and consumables, Polaroid enjoyed incredible success, because it worked like magic. In a little more than a year the Polaroid company sold 700 thousands of SX-70.
    </p>
    <p>
    After prolonged patent dispute Polaroid finally ousted Kodak from the ‘instant photography’ market in 1986. Perhaps it spurred Kodak to invest more effort in the finalization of digital cameras, the first samples of which were patented and shelved in the company in 1978. First digital camera was developed by Steven Sasson led team in 1975, at the same time the first digital photo was taken. However, Kodak digital camera was ready for sale only in 1990s. Kodak released a professional model DCS-100 at a cost of $1500. The first amateur digital cameras have appeared on the markets of Japan and the United States in 1989 and 1990 respectively. At cost of several hundreds dollars, these cameras were still far from perfection: they had a low resolution image matrix and allow for B/W only.
    </p>
    <p>
    Digital cameras have quickly won the love of the public—one out of five Americans have a digital camera at home nowadays. Similar to Polaroid, digital cameras did not require the hassle of film development and also allow to instantly see the results. Contrary to Polaroid, digital photos were to be copied easily and did not require any expendable supply. Old-fashioned ‘chemical companies’ Polaroid, Kodak, Agfa, Ilford were forced to scale back production. Some of them had to undergo reorganization, Polaroid even went bankrupt.
    </p>

    <h3>One More Juggernaut Of Innovation</h3>

    <p>
    Digital photography was perfect for the Internet: Tim Berners-Lee published the first pictures of the World Wide Web back in 1992. Photohostings arose by leaps and bounds, and since social networking era it is considered improper not to have photos on one’s own web page. But it was not the Internet but the iPhone which changed relations between general public and digital photography.
    </p>
    <p>
    Cameras became part of cellphones for about seven years prior to iPhone. Sharp introduced the first <em>cameraphone</em> in 2000, and since 2005 eventually almost every phone comes with a camera. But those cameras were more interesting for company marketologists, not for the real people.
    </p>

    <div class="photo-block photo-instagram">
        <div class="photo photo-rotate-2 photo-no-move"><div class="photo-image" style="
            background-image:url(/static/01-ensography/essays/20.jpg);
            background-size: 100%;
            background-position: top;
            height: 365px;
            "><div class="photo-caption paper-typeface">
            Photo by Joe-M500, <br>published by Hipstamatic App
        </div></div></div>
    </div>

    <p>
    The iPhone proved to be interesting not because of megapixels or specific lenses. The iPhone was envisioned as prototype-device that could transform itself into notebook, diary, calculator, phone, browser or communicator. The iPhone could be transformed in almost any camera using the appropriate app. That idea was used by <em>Hipstamatic</em> apps which resemble Leica, dagguerotype, tintype and other cameras from the past.
    </p>
    <p>
    Any digital camera combines processes of shooting and development, but iPhone-powered camera was more capable. Amateur iPhone photographer could retouch photos immediately after shoot: to remove red-eyes, to crop, to improve colors and to impose image filters. If the Polaroid was essentially ‘a camera with its own darkroom inside’, the iPhone could be rightfully called ‘a camera with its own Photoshop inside’. Of all the filters available in photographic apps the most popular were those that mimic the original film: so the picture would look more ‘artistic’.
    </p>
    <p>
    Finally, among many photography related apps there was discovered the idea that raised mass photography to a new level.
    </p>

    <div class="photo-block" style="width: 440px; height: 350px">
        <div class="photo photo-rotate-2 photo-no-move"><div class="photo-image" style="
            background-image:url(/static/01-ensography/essays/21.jpg);
            background-position: cover;
            width: 400px; height: 337px;
            "></div></div>
    </div>

    <p>
    The success of <em>Foursquare</em> propelled interest for location-based social networks. Kevin Systrom has developed one such app called <em>Burbn</em> in 2009. <em>Burbn</em> did not become popular, and it was time to close it when Kevin Systrom and Mike Krieger analyzed user behavior and came to the conclusion that most people were interested in the ability to quickly and easily share photos. 
    </p>
    <p>
    Keith Sawyer wrote about <em>Instagram</em> in his book ‘Zig Zag: The Surprising Path to Greater Creativity’: <em>they began by studying all of the popular photography apps, and they quickly homed in on two main competitors. Hipstamatic was cool and had great filters, but it was hard to share your photos. Facebook was the king of social networking, but its iPhone app didn’t have a great photo-sharing feature. Mike and Kevin saw an opportunity to slip in between Hipstamatic and Facebook, by developing an easy-to-use app that made social photo-sharing simple. They chopped everything out of burbn except the photo, comment, and like features.</em>
    </p>
    <p>
    Today the idea of people sharing experiences with each other in the form of photos does look obvious. Back in 2010 users immediately liked <em>Instagram</em>. <em>Instagram</em> was ahead of its progenitor <em>Burbn</em> in the very first weekend of closed testing; first explosive user growth occurred in Japan in the same year, and <em>Facebook</em> soon has acquired <em>Instagram</em> for a considerable amount of money—one billion dollars. <em>Hipstagram</em>, which claimed itself only a ‘camera’ for a long time, was out of business.
    </p>

    <!--
    <h3>Preliminary Takeaways</h3>
    <p>
    Interest of general public towards photography—this time not to its results but the shooting process—was sparkled by successfully organized fad. People were attracted by accessible tools which helped to yield professional-looking outcome. The majority of ordinary pictures was no means to amazement, but the marketing appeal conquered consumer hearts time after time. The ‘You Press The Button, We Do The Rest’ approach allows the general public to try out new cameras and find subjects to their liking.
    </p>
    <p>
    Subject-wise, mass photography was away from the art: photo stories were quite mundane and devoid of intrigue. The success of Instagram demonstrated that people really want to picture every thing they look at; more than that they want to picture their beloved selves.
    </p>
    -->

</div>

</div>
