<div class="wrapper-main">
    <div class="paper-sheet paper-main paper-typeface"  id="chapter-4-2">
        <h1>Short bibliography</h1>
        <ol class="bibliography">
            <li>
                Beaumont Hewhall. <em>The History of Photography.</em>
            </li>
            <li>
                Robert Hirsch. <em>Exploring Color Photography Fifth Edition: From Film to Pixels.</em>
            </li>
            <li>
                Robert Hirsch. <em>Seizing the Light: A Social History of Photography, Second Edition.</em>
            </li>
            <li>
                John Berger et al. <em>Ways Of Seeing.</em>
            </li>
            <li>
                Ronald Barthes. <em>Camera Lucida.</em>
            </li>
            <li>
                Roberh Hirsch, Alan Griffiths. <em>Images and Words: An Online History of Photography.<br>
                Available online at <a href="http://www.luminous-lint.com/ImagesAndWords/_lv_display.php?public/5/1/2/37/0/20/T/">Luminous Lint</a>.</em>
            </li>
            <li>
                Keith Sawyer. <em>Zig Zag: The Surprising Path to Greater Creativity.</em>
            </li>
            <li>
                Mike Krieger. <em>Why Instagram Worked. Available online at <a href="http://medium.com/backchannel/why-instagram-worked-45dbfeaa37c8">Medium</a>.
                </em>
            </li>
            <li>
                <em>And finally the last, but not the least: <a href="http://wikipedia.org">Wikipedia</a>.</em>
            </li>
        </ol>

        <div class="brick64"></div>
        <h1>Authors &amp; Copyrights</h1>
        <p>
            Historical overview, research and product demo articles were written by Nikolay Yaremko.
        </p>
        <p>
            Conceived products represent the collective effort of ABOVE Westergas department: Nikolay Yaremko and Anna Kotliarevskaia. Detailed designs were developed by Anna and Nikolay, design lead for each project is indicated on the top right corner of project sheet.
        </p>
        <p>
            This research could not be made without help of many others. We would like to thank Dima Neiaglov, Aleksey Kulakov and Aleksey Markin.
        </p>
        <p>
            Photographic illustrations were borrowed from sources mentioned above with respect of authors' copyright. In case you fill any violation of rights, please do not hesitate to contact Nikolay via email: <em><a href="mailto:nick@projectabove.com">nick@projectabove.com</a></em>.
        </p>
        <p>
            Product demonstration includes photos from following public Instagram accounts: <em>greyevil, alexnashzemlyak, paninazina, verachkaaa_t23, bobuk, i107i, a_plakhoff, antonzabannikh, innubis, sonna, abramamama, poloskuns, nyaremko, enrico_borgogno, vertu_oz, kristinakravchenco, alfongaliana, bqt_celine</em>. Some great photographs where taken from Vadim Pacev’s Flickr <em>basvasilich</em>.
        </p>
        <p>
            Article text type is set in Baskerville typeface whether this typeface is available on viewer device. Chrome text type is set in Helvetica Neue Light whether it is available in the same fashion. It is required to purchase these typefaces to use them as webfonts; non-profit nature of the research can not afford this, at least for now.
        </p>

        <div class="brick64"></div>
        <h1>Contacts</h1>
        <p>
            For enquiries please contact Nikolay Yaremko via email: <a href="mailto:nick@projectabove.com">nick@projectabove.com</a>. Nikolay would be happy to converse with you on any topic regarding 
            photography, interface design, design research methodology, techno-cultural philosophy, 
            and possible future ventures as well.
        </p>
    </div>
</div>
