<div class="above-header chrome-hint-typeface">
    <img src="/static/img/above.png" width="141" height="48">
    <p>
        shares these drafts with you and 1846 other researchers.
    </p>
</div>


<div class="wrapper-main">
    <div class="paper-shadow">
        <div class="paper-sheet paper-lined paper-note paper-typeface article-title-note">
            <p>
                “We keep moving forward, opening new doors, and doing new things, because we're curious and curiosity keeps leading us down new paths.” 
            </p>
            <p class="decorate-right">
                — Walt Disney
            </p>   
        </div>
    </div>
    <div class="paper-sheet paper-main paper-typeface article-title-sheet">
        <img src="/static/01-ensography/article-title-picture.png" width="400" height="300" />
        <h1>Above Photography</h1>
        <p>
            Collected Notes On Poking and Prying With Purpose
        </p>
        <p><br></p>
        <p class="paper-typeface-author">
            by Nikolay Yaremko,
            <br>
            Anna Kotliarevskaia et al.
        </p>
    </div>
</div>
