<div class="control-expandable">
    <div class="control-center">
        <div class="icon icon--toc clearfix">
            <div class="icon-collapse"></div>
            <div class="icon-img"></div>
            <div class="icon-text chrome-label-typeface">Table Of Contents</div>
        </div>
    </div>
    <div class="control-expansion">
        <div class="wrapper-narrow">
            <div class="chrome-toc-hint chrome-hint-typeface">
                    Proceed to this chapter — 
            </div>            
            <div class="chrome-toc control-toc chrome-text-typeface clearfix">
                <div class='chrome-toc-contents'>
                    <div class='chrome-toc-section'>
                        <strong>
                            I. Essays On History Of Photography
                        </strong>
                    </div>
                    <a href="#chapter-1-1" class='chrome-toc-chapter'>
                        1.1. Birth Of Photography
                    </a>
                    <a href="#chapter-1-2" class='chrome-toc-chapter'>
                        1.2. Camera For Every One
                    </a>
                    <a href="#chapter-1-3" class='chrome-toc-chapter chrome-toc-unfinished'>
                        1.3. Pictorial Art and The Faithful Witness
                    </a>
                    <a href="#chapter-1-4" class='chrome-toc-chapter chrome-toc-unfinished'>
                        1.4. Photography Tells a Story
                    </a>
                    <div class='chrome-toc-section'>
                        <strong>
                            II. Product Demonstration
                        </strong>
                    </div>
                    <a href="#chapter-2-1" class='chrome-toc-chapter chrome-toc-unfinished'>
                        2.1. <strong>WITH</strong>: Become Mayor Of Your Girlfriend
                    </a>
                    <a href="#chapter-2-2" class='chrome-toc-chapter'>
                        2.2. <strong>CRYSTALGRAM</strong>: Value Your Life Moments
                    </a>
                    <a href="#chapter-2-3" class='chrome-toc-chapter chrome-toc-unfinished'>
                        2.3. <strong>BOTTLE</strong>: Dialogues With Unknown
                    </a>
                    <a href="#chapter-2-4" class='chrome-toc-chapter chrome-toc-unfinished'>
                        2.4. <strong>FOLDFOLDFOLD</strong>: The Narrative Unfold
                    </a>
                    <a href="#chapter-2-5" class='chrome-toc-chapter chrome-toc-unfinished'>
                        2.5. <strong>SIXTAGRAM</strong>: Six Friends You Don't Know
                    </a>
                    <div class='chrome-toc-section'>
                        <strong>
                            III. Playful Research
                        </strong>                
                    </div>
                    <a href="#chapter-3-1" class='chrome-toc-chapter chrome-toc-unfinished'>
                        3.1. <strong>SOCIATHON</strong>: Find Common Clouds
                    </a>
                    <a href="#chapter-3-2" class='chrome-toc-chapter chrome-toc-unfinished'>
                        3.2. <strong>ARTPIECE</strong>: Collective Master Piece
                    </a>
                    <a href="#chapter-3-3" class='chrome-toc-chapter chrome-toc-unfinished'>
                        3.3. <strong>HAIKU</strong>: Seize The Moment
                    </a>
                    <div class='chrome-toc-section'>
                        <strong>
                            IV. Closing Thoughts
                        </strong>
                    </div>
                    <a href="#chapter-4-1" class='chrome-toc-chapter chrome-toc-unfinished'>
                        4.1. Jump To Conclusion
                    </a>
                    <a href="#chapter-4-2" class='chrome-toc-chapter'>
                        4.2. Bibliography and Acknowledgements
                    </a>
                </div>
            </div>
            <div class="brick64"></div>
        </div>
    </div>
</div>