/* TODO */
@font-face {
  font-family: 'GloberSemiBold';
  src:  url('/static/css/fonts/GloberSemiBold.eot?#iefix') format('embedded-opentype'),  
        url('/static/css/fonts/GloberSemiBold.otf')  format('opentype'),
        url('/static/css/fonts/GloberSemiBold.woff') format('woff'), 
        url('/static/css/fonts/GloberSemiBold.ttf')  format('truetype'), 
        url('/static/css/fonts/GloberSemiBold.svg#GloberSemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


html,
button,
input,
select,
textarea {
    color: #252525; 
}
img { display: block }


html {
    padding: 0;
    margin: 0;
    overflow: 
}
body {
    font: bold 100px/100px Georgia, Times, serif;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Foundation Styles ==================================================
   ========================================================================== */

html, body {
    height: 100%;
    width: 100%;
}
body {
    background-image: url(/static/img/surface.png);
    background-size: 288px;
}

.wrapper-main {
    position: relative;
    left: 50%;
    margin-left: -512px;
}   
.paper-main {
    padding: 63px 127px;
    width: 768px;
}
.paper-sheet {
    background-color: #ffffff;
    background-image: url(/static/img/paper.png);
    background-size: 640px;
    border: 1px solid rgba(255,255,255,0.44);
    -moz-box-shadow:    0px 1px 4px 0px rgba(0,0,0, 0.125);
    box-shadow:         0px 1px 4px 0px rgba(0,0,0, 0.125);
}
.paper-another {
    background-image: url(/static/img/paper-another.png);
}
.paper-other {
    background-image: url(/static/img/paper-other.png);
}
.paper-lined {
    background-image: url(/static/img/paper-lined.png);
    background-size: 1280px;
}
.paper-white {
    background: #fdfdfd;
    border: 1px solid rgba(255,255,255,1);
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.brick64 { width: 64px; height: 64px;}
.brick16 { width: 16px; height: 16px;}


.g-clear {
    clear: both;
    height: 1px; 
    margin-bottom: -1px;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}