html,
button,
input,
select,
textarea {
    color: #252525; 
}
img { display: block }


html {
    padding: 0;
    margin: 0;
}
body {
    font: bold 100px/100px Georgia, Times, serif;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Foundation Styles ==================================================
   ==========================================================================
   ==========================================================================
   ========================================================================== */

html, body {
    height: 100%;
    width: 100%;
}
body {
    background-image: url(/static/img/surface.png);
    background-size: 288px;
    overflow: hidden;
    overflow-y: scroll; 
}

.wrapper-main {
    position: relative;
    left: 50%;
    margin-left: -512px;
    width: 1024px;
}   
.wrapper-narrow {
    position: relative;
    left: 50%;
    margin-left: -130px;
    width: 320px;
}   
.paper-main {
    padding: 63px 127px 127px;
    width: 768px;
}
.paper-note {
    padding: 15px 47px;
    width: 336px;
    position: absolute;
    margin: -16px 0 0 624px;
    -moz-transform:    rotate(-.25deg);
    -o-transform:      rotate(-.25deg);
    -webkit-transform: rotate(-.25deg);
    transform:         rotate(-.25deg);
}
.paper-sheet {
    background-color: #ffffff;
    background-image: url(/static/img/paper.png);
    background-size: 640px;
    border: 1px solid rgba(255,255,255,0.44);
    -moz-box-shadow:    0px 1px 4px 0px rgba(0,0,0, 0.125);
    box-shadow:         0px 1px 4px 0px rgba(0,0,0, 0.125);
}
.paper-another {
    background-image: url(/static/img/paper-another.png);
}
.paper-other {
    background-image: url(/static/img/paper-other.png);
}
.paper-lined {
    background-image: url(/static/img/paper-lined.png);
    background-size: 1280px;
}
.paper-white {
    background: #fdfdfd;
    border: 1px solid rgba(255,255,255,1);
}

/* ======= SHEETS ========= */
.article-title-sheet { 
    text-align: center; 
    padding-bottom: 63px;
}
.article-title-sheet img { display: inline }
.article-title-sheet p { text-align: center !important }


.userpic {
    border-radius: 32px;
    width: 64px;
    height: 64px;
    box-shadow: inset 0 0 5px rgba(0,0,0,1);
    background-size: cover;
}
.userpic-small {
    border-radius: 24px;
    width: 48px;
    height: 48px;
}

/* TODO вынести все article-specific elements в отдельный файл */
.userpic-nyaremko { background-image: url(/static/people/userpic-nyaremko.png) }
.userpic-annakot { background-image: url(/static/people/userpic-annakot.png) }
.userpic-rimanov { background-image: url(/static/people/userpic-rimanov.png) }

.above-header {
    text-align: center;
    padding: 32px 0 16px;
}   
.above-header p { margin: 0;}
.above-header img { display: inline; }



/* ==========================================================================
   Helper classes
   ========================================================================== */

.brick64 { height: 64px; }
.brick16 { height: 16px; }


.g-clear {
    clear: both;
    height: 1px; 
    margin-bottom: -1px;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.x { outline: 1px dotted red; }
.x .x { outline: 1px dotted blue; }
.x .x .x { outline: 1px dotted green; }


/* ==========================================================================
   Typefaces
   ========================================================================== */
@font-face {
  font-family: 'myBaskerville';
  src:  url('/static/css/fonts/Baskerville.eot?#iefix') format('embedded-opentype'),  
        url('/static/css/fonts/Baskerville.otf')  format('opentype'),
        url('/static/css/fonts/Baskerville.woff') format('woff'), 
        url('/static/css/fonts/Baskerville.ttf')  format('truetype'), 
        url('/static/css/fonts/Baskerville.svg#Baskerville') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myBaskerville-Italic';
  src:  url('/static/css/fonts/Baskerville-Italic.eot?#iefix') format('embedded-opentype'),  
        url('/static/css/fonts/Baskerville-Italic.otf')  format('opentype'),
        url('/static/css/fonts/Baskerville-Italic.woff') format('woff'), 
        url('/static/css/fonts/Baskerville-Italic.ttf')  format('truetype'), 
        url('/static/css/fonts/Baskerville-Italic.svg#Baskerville-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myBaskerville-Bold';
  src:  url('/static/css/fonts/Baskerville-Bold.eot?#iefix') format('embedded-opentype'),  
        url('/static/css/fonts/Baskerville-Bold.otf')  format('opentype'),
        url('/static/css/fonts/Baskerville-Bold.woff') format('woff'), 
        url('/static/css/fonts/Baskerville-Bold.ttf')  format('truetype'), 
        url('/static/css/fonts/Baskerville-Bold.svg#Baskerville-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myBaskerville-BoldItalic';
  src:  url('/static/css/fonts/Baskerville-BoldItalic.eot?#iefix') format('embedded-opentype'),  
        url('/static/css/fonts/Baskerville-BoldItalic.otf')  format('opentype'),
        url('/static/css/fonts/Baskerville-BoldItalic.woff') format('woff'), 
        url('/static/css/fonts/Baskerville-BoldItalic.ttf')  format('truetype'), 
        url('/static/css/fonts/Baskerville-BoldItalic.svg#Baskerville-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myHelveticaNeue-Light';
  src:  url('/static/css/fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),  
        url('/static/css/fonts/HelveticaNeue-Light.otf')  format('opentype'),
        url('/static/css/fonts/HelveticaNeue-Light.woff') format('woff'), 
        url('/static/css/fonts/HelveticaNeue-Light.ttf')  format('truetype'), 
        url('/static/css/fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myHelveticaNeue-LightItalic';
  src:  url('/static/css/fonts/HelveticaNeue-LightItalic.eot?#iefix') format('embedded-opentype'),  
        url('/static/css/fonts/HelveticaNeue-LightItalic.otf')  format('opentype'),
        url('/static/css/fonts/HelveticaNeue-LightItalic.woff') format('woff'), 
        url('/static/css/fonts/HelveticaNeue-LightItalic.ttf')  format('truetype'), 
        url('/static/css/fonts/HelveticaNeue-LightItalic.svg#HelveticaNeue-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myHelveticaNeue-CondensedBold';
  src:  url('/static/css/fonts/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'),  
        url('/static/css/fonts/HelveticaNeue-CondensedBold.otf')  format('opentype'),
        url('/static/css/fonts/HelveticaNeue-CondensedBold.woff') format('woff'), 
        url('/static/css/fonts/HelveticaNeue-CondensedBold.ttf')  format('truetype'), 
        url('/static/css/fonts/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.paper-typeface {
    font-family: Baskerville, myBaskerville, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #252525;
}   
.paper-typeface p {
    padding: 0;
    margin: 0 0 32px 0; 
    text-align: justify;   
}
.paper-typeface em {
    font-family: Baskerville-Italic, myBaskerville-Italic, serif;
    text-decoration: italic;
}
.paper-typeface strong {
    font-family: Baskerville-Bold, myBaskerville-Bold, serif;
    font-weight: bold;
}
.paper-typeface h1, 
.paper-typeface h2 {
    font-size: 40px;
    line-height: 64px;
    font-weight: normal;
    text-transform: uppercase; 
    opacity: 0.9;
    letter-spacing: 8px;
    padding: 0;
    margin: 0 0 32px;
}
.paper-typeface h1 {
    text-align: center;
}
.paper-typeface h2 small {
    display: block;
    font-size: 20px;
    text-align: left;
    letter-spacing: 4px;
    margin-bottom: -32px;
}
.paper-typeface .paper-typeface-author {
    font-size: 16px;
}
.paper-typeface em strong, .paper-typeface p strong em {
    font-family: Baskerville-BoldItalic, myBaskerville-BoldItalic, serif;
    text-decoration: italic;
    font-weight: bold;
}
.paper-typeface ul {
    list-style-type: none;
    margin: -16px 0 32px;
    padding: 0 0 0 24px;
}
.paper-typeface ul li:before { content: "—"; margin-left: -24px; }
.paper-typeface ul li {
    margin: 16px 0;
}
.paper-typeface ol.bibliography {
    list-style-type: none;
}

.paper-typeface ol.bibliography li {
    margin: 16px 0;
}
.paper-typeface h1 {
}
.comments-typeface {
    font-family: Helvetica Neue, myHelveticaNeue-Light, sans-serif; 
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #252525;
}
.comments-author-typeface {
    font-family: HelveticaNeue-CondensedBold, myHelveticaNeue-CondensedBold, sans-serif; 
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 32px;
    color: #252525;
}
.chrome-label-typeface {
    font-family: Helvetica Neue, myHelveticaNeue-Light, sans-serif; 
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #767676;
}
.chrome-hint-typeface {
    font-family: Helvetica Neue, myHelveticaNeue-Light, sans-serif; 
    font-weight: 300;
    font-size: 12px;
    line-height: 32px;
    color: #767676;
}
.chrome-text-typeface div,
.chrome-text-typeface p {
    font-family: Helvetica Neue, myHelveticaNeue-Light, sans-serif; 
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #767676;
    padding: 0;
    margin: 0 0 32px 0;
}
.chrome-text-typeface div {
    margin: 0;
}
.chrome-text-typeface strong {
    font-family: HelveticaNeue-CondensedBold, myHelveticaNeue-CondensedBold, sans-serif; 
    font-weight: bold;
    text-transform: uppercase;
}

.paper-note p {
    margin: 0; 
    padding: 0;
    font-style: italic;
}

.decorate-right {
    text-align: right !important;
}

/* =====================================================================
   PHOTO STYLES
   ===================================================================== */
.photo-image {
    background-size: cover;
    display: table-cell;
    vertical-align: bottom;
}   
.photo-caption {
    font-size: 16px;
    line-height: 18px;
    color: #515151;
    background: rgba(255,255,255, 1);
    padding: 7px 2px 2px;
    margin: -2px;
}
.photo {
    position: absolute;
    border-radius: 1px;
    border: 10px solid rgba(255,255,255,1); 
    background: rgba(255,255,255,1);
    -moz-box-shadow:    0px 1px 4px 0px rgba(0,0,0, 0.125);
    box-shadow:         0px 1px 4px 0px rgba(0,0,0, 0.125);
    margin-left: 0;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    transition: all .25s ease-out;
    cursor: pointer;
}
.photo-rotate-1 {
    -moz-transform:    rotate(0.5deg);
    -o-transform:      rotate(0.5deg);
    -webkit-transform: rotate(0.5deg);
    transform:         rotate(0.5deg);  
    margin-left: -10px;  
}
.photo-rotate-2 {
    -moz-transform:    rotate(-0.5deg);
    -o-transform:      rotate(-0.5deg);
    -webkit-transform: rotate(-0.5deg);
    transform:         rotate(-0.5deg);    
    margin-top: -10px;
}
.photo-rotate-3 {
    -moz-transform:    rotate(1deg);
    -o-transform:      rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform:         rotate(1deg);    
}
.photo-rotate-4 {
    -moz-transform:    rotate(-1deg);
    -o-transform:      rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    transform:         rotate(-1deg);    
    margin-left: -5px;
    margin-top: -5px;
}
.photo-rotate-5 {
    -moz-transform:    rotate(2deg);
    -o-transform:      rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform:         rotate(2deg);    
    margin-left: 5px;
}
.photo-rotate-6 {
    -moz-transform:    rotate(-2deg);
    -o-transform:      rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform:         rotate(-2deg);    
    margin-top: 5px;
}

.photo-flipped.photo-rotate-1 {
    -moz-transform:    rotate(5deg);
    -o-transform:      rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform:         rotate(5deg);  
    margin-left: -10px;  
    margin-top: 5px;
}
.photo-flipped.photo-rotate-2 {
    -moz-transform:    rotate(4deg);
    -o-transform:      rotate(4deg);
    -webkit-transform: rotate(4deg);
    transform:         rotate(4deg);    
    margin-top: 0px;
}
.photo-flipped.photo-rotate-3 {
    -moz-transform:    rotate(7deg);
    -o-transform:      rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform:         rotate(7deg);    
    margin-top: 10px;
}
.photo-flipped.photo-rotate-4 {
    -moz-transform:    rotate(3deg);
    -o-transform:      rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform:         rotate(3deg);    
    margin-left: -5px;
    margin-top: 15px;
}
.photo-flipped.photo-rotate-5 {
    -moz-transform:    rotate(6deg);
    -o-transform:      rotate(6deg);
    -webkit-transform: rotate(6deg);
    transform:         rotate(6deg);    
    margin-left: 5px;
    margin-top: 15px;
}
.photo-flipped.photo-rotate-6 {
    -moz-transform:    rotate(4deg);
    -o-transform:      rotate(4deg);
    -webkit-transform: rotate(4deg);
    transform:         rotate(4deg);    
    margin-top: 15px;
}
.photo-block {
    height: 360px;
    width: 400px;
    margin-left: -150px;
    float:left;
}    
.photo-instagram .photo-image {
    width: 320px; height: 320px;  
    background-size: cover;
}
.photo-instagram .photo-flipped { margin-left: 400px;}

/* ========================================================================
   CHROME STYLES
   ======================================================================== */
.chrome-toc-section {
    margin-top: 16px !important;
}
a.chrome-toc-chapter { display: block }
a.chrome-toc-chapter:link,
a.chrome-toc-chapter:visited { 
    text-decoration: none;
    color: #767676;
}
a.chrome-toc-chapter:hover,
a.chrome-toc-chapter:active { 
    text-decoration: none;
    color: #252525; 
}
.chrome-toc-hint { 
    position: absolute;
    left: 50%;
    margin-left: -275px;
    opacity: 0;
    margin-top: 1px;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    transition: all .25s ease-out;
} 


/* ========================================================================
   ICONS
   ======================================================================== */
.icon {
    margin-left: -20px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.icon-text-sticky,
.icon-text { 
    position: absolute;
    margin-top: -36px;
    margin-left: 48px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}   
.icon-collapse,
.icon-img { 
    width: 40px;
    height: 40px;
    background-size: 42px;
    background-position: center;
    border: 1px solid #999999;
    border-radius: 40px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.icon--toc     .icon-img { background-image: url(/static/img/icon-toc.png) }
.icon--email   .icon-img { background-image: url(/static/img/icon-email.png) }
.icon--message .icon-img { background-image: url(/static/img/icon-message.png) }
.icon--notes   .icon-img { background-image: url(/static/img/icon-notes.png) }
.icon--send    .icon-img { background-image: url(/static/img/icon-send.png) }
.icon--next    .icon-img { background-image: url(/static/img/icon-next.png) }
.icon--comments .icon-img {
    background-image: url(/static/img/icon-comments.png);
    border: none;
    width: 42px;
    height: 42px;
    border-radius: 0;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.icon-collapse { 
    background-image: url(/static/img/icon-collapse.png);
    position: absolute;
    opacity: 0;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.icon:hover { cursor: pointer; }
.icon:hover .icon-img { border-color: #767676; }
.control-center {
    padding: 12px 0;
    position: relative;
    left: 50%;
}
.control-expandable .control-expansion {
    display: none
}   
.control-expanded .icon-img      { opacity: 0 }
.control-expanded .icon-collapse { opacity: 1 } 
.control-expanded .icon-static   { opacity: 1 }


.author {
    float:right;
    text-align: right;
    white-space: nowrap;
    margin-top: -64px;
    margin-right: -192px;
}
.author-bottom {
    margin-top: 80px;
}
.author .userpic { float: right; }
.author .author-name {
    float:right;
    margin-top: 8px;
    margin-right: 32px;
}
.author-menu { float: right; }
.author-menu-contents {
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    transition: all .1s ease-out;
    position: absolute;
    width: 100px;
    height: 400px;
    margin-left: -24px;
    margin-top: 40px;
    opacity: 0;
}
.author-expanded .author-menu-contents {
    opacity: 1;
    margin-top: 50px;
}
.author-menu-item { margin: 10px 0; }
.author a { display: block; }


/* =============================================================================
   COMMENTS
   ============================================================================= */
.control-right {
    padding: 12px 0;
    margin-left: 488px;
    position: absolute;
    left: 50%;
}    

.comments {
    left: 50%;
    position: relative;
}
.comments-host-left {
    position: absolute;
    margin-left: -1024px;
    opacity: 0.25;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
.comments-host-right {
    position: absolute;
    margin-left: 384px;
    opacity: 0.25;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
.comments-host-right .userpic {
    opacity: 0.5;
}
.comments-host-middle {
    margin-left: -320px;
}
.comments-host {
    width: 640px;
}
.comments-host-left:hover,
.comments-host-right:hover {
    opacity: 1;
}
.comments-paper {
    min-height: 192px;
    width: 480px;
    position: absolute;
    padding: 32px 32px 32px 128px;
    -moz-box-shadow:    0px 1px 4px 0px rgba(0,0,0, 0.125);
    box-shadow:         0px 1px 4px 0px rgba(0,0,0, 0.125);
}
.comments-host-middle .comments-paper {
    position: inherit;
}
.comments-host-middle .comments-sheet { position: relative; z-index: 1000 }
.comments-host-middle .comments-reply-sheet {
    margin-top: -32px;
    position: relative; 
    z-index: 999;
    opacity: 1;
}
.comments-paper .userpic {
    float: left;
    margin-left: -96px;
}
.comments-pile-1 {
    -moz-transform:    rotate(0.5deg);
    -o-transform:      rotate(0.5deg);
    -webkit-transform: rotate(0.5deg);
    transform:         rotate(0.5deg);
}
.comments-pile-2 {
    margin-top: 2px;
    -moz-transform:    rotate(-0.5deg);
    -o-transform:      rotate(-0.5deg);
    -webkit-transform: rotate(-0.5deg);
    transform:         rotate(-0.5deg);
}
.comments-pile-3 {
    margin-left: -3px;
    -moz-transform:    rotate(0deg);
    -o-transform:      rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform:         rotate(0deg);
}
.comments-area {
    padding: 0;
    width: 640px;
}
.comments-area textarea {
    width: 512px;
    padding: 32px 64px;
    border: 0px;
    min-height: 192px;
    color: #252525;
    outline: none !important;
}
.comments-send {
    padding: 12px 0;
    position: relative;
    left: 50%;
}
.comments-hint {
    position: absolute;
    line-height: 24px;
    padding: 12px 0;
}
.comments-controls { 
    display: none; 
    -webkit-transition: padding .1s ease-out;
    -moz-transition: padding .1s ease-out;
    -o-transition: padding .1s ease-out;
    -ms-transition: padding .1s ease-out;
    transition: padding .1s ease-out;
}
.comments-comments-one {
    margin: 16px 0;
}    
.comments-comments { 
    margin-top: 32px;
}
.comments-comments-text {
    color: #767676;
}
.comments-host-middle .comments-controls { display: block }
.comments-reply-sheet { 
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    transition: all .1s ease-out;
    min-height: 0px;
    padding: 0;
    width: 640px;
    background: #ffffff;
    opacity: 0;
}
.comments-reply-sheet textarea {
    width: 480px;
    padding: 32px 32px 0 128px;
    border: 0px;
    min-height: 32px;
    color: #252525;
    outline: none !important;
    -webkit-transition: padding .1s ease-out;
    -moz-transition: padding .1s ease-out;
    -o-transition: padding .1s ease-out;
    -ms-transition: padding .1s ease-out;
    transition: padding .1s ease-out;
}
.comments-reply-sheet textarea:focus {
    padding: 48px 32px 64px 128px;
}
.comments-reply-controls { 
    opacity: 0;
}

/* ==================================================================================
   IPHONE DEMO CONTROLS AND WRAPPER
   ================================================================================== */
.chrome-demo-iphone {
    width: 408px;
    height: 877px;
    background-image: url(/static/01-ensography/iphone.png);
    background-size: cover;
    zoom: 0.8;
    /*
    -moz-transform:    rotate(1deg);
    -o-transform:      rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform:         rotate(1deg);  
    */
    margin-left: 128px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    transition: all .1s ease-out;
    position: absolute;
}
.chrome-demo {
    margin-top: -144px;
    position: relative;
    z-index: 100;
    left: 50%;
    margin-left: -512px;
    width: 1024px;
    height: 640px;
}
.chrome-demo:hover .chrome-demo-iphone {
    -moz-transform:    rotate(0deg);
    -o-transform:      rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform:         rotate(0deg);  

}
.chrome-demo-info {
    position: absolute;
    margin-top: 256px;
    margin-left: 512px;
    width: 384px;
}
.chrome-demo-info .icon-img {
    float: left;
}
.chrome-demo-info .icon-text-sticky {
    float: left;
    margin-left: 48px;
    margin-top: 4px;
}
.chrome-demo-info .icon {
    margin-bottom: 32px;
}
.chrome-pulsate {
    position: absolute;
    z-index: 500;
    margin: -25px 0 0 -25px;
    width: 50px; height: 50px;
    border-radius: 25px;
    background: rgba(255, 100, 120, 0.5);
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    transition: all .15s ease-out;
}
.chrome-button {
    position: absolute;
    x-background: rgba(255, 100, 120, 0.5);
    cursor: pointer;
    z-index: 200;
    display: none;
}
.demo-state-active .chrome-button {
    display: block
}
.chrome-demo-state-container {
    position: absolute;
    width: 320px; height: 568px;
    margin-left: 47px;
    margin-top: 155px;
    background: #000000;
    overflow:hidden;
    box-shadow: 0 0 10px rgba(255,255,255, .125);
}
.demo-state {
    position: absolute;
    width: 320px; height: 568px;
    -webkit-transition: all .33s ease-out;
    -moz-transition: all .33s ease-out;
    -o-transition: all .33s ease-out;
    -ms-transition: all .33s ease-out;
    transition: all .33s ease-out;
    background: #000000;
    z-index:99;
}
.demo-state-active {
    z-index: 100;
}

/* TODO CONDITIONALS */